@CHARSET "UTF-8";

@media screen and (min-width: 1233px){
	body{
		font-size: 16px;
	}
}
@media screen and (min-width: 1158px) and (max-width: 1232px){
	body{
		font-size: 15px;
	}
}
@media screen and (min-width: 1083px) and (max-width: 1157px){
	body{
		font-size: 14px;
	}
}
@media screen and (min-width: 1008px) and (max-width: 1082px){
	body{
		font-size: 13px;
	}
}
@media screen and (max-width: 1007px){
	body{
		font-size: 12px;
	}
}

.downEdit {
	border: 1px solid #ccc;
	height: 700px;
	resize: vertical;
}

#div_but{
	margin: 0 auto;
	margin-top: 10px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.btn {
	margin: 0 5px;
	height: 30px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	font-size: 12px;
}

.float {
	float: right;
}

.ob {
	margin-left: 0;
}

.em {
	margin-right: 0;
}

.waitLog {
	background: white;
	opacity: 0.9;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 15000;
}

.waitLog img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 33px;
	height: 33px;
	margin-top: -15px;
	margin-left: -15px;
}

.waitLog div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 80px;
	margin-top: -80px;
	margin-left: -100px;
	text-align: center;
	line-height: 40px;
}

.waitLog div button {
	border: none;
	outline: none;
	background: white;
	cursor: pointer;
	color: blue;
}

.waitLog div button:HOVER{
	text-decoration: underline;
}

.div_title {
	height: 26px;
	margin: 0 auto;
}

.div_lable {
	box-sizing: border-box;
	width: 4%;
	height: 100%;
	line-height: 26px;
	float: left;
	color: #999;
}


.lable {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.div_input {
	box-sizing: border-box;
	width: 96%;
	height: 100%;
	float: left;
	border: 1px solid #ccc;
}

.Title {
	border: none;
	outline: none;
	width: 99.8%;
	height: 91%;
}

.div {
	padding: 5px 0;
	color: #ccc
}

.showdata {
	position: absolute;
	display: none;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 15000;
	min-height: 720px;
	min-width: 950px;
}

.user_div{
	margin: 0 auto;
	padding: 0;
	height: 20px;
}

.user_p{
	margin: 0;
	padding: 0;
	width: auto;
	height: 100%;
	float: right;
	font-size: 12px;
}

#show{
	width: 100%;
	height: 95%;
	overflow: auto;
	border-bottom: 1px solid black;
}

#div_but button:hover{
	text-decoration: underline;
}

#username{
	color: red;
}